@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*ESTILOS GLOBAIS*/
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 20px;
    font-weight: 600;
}
h3 {
    font-size: 14px;
    font-weight: 600;
}
h4 {
    font-size: 14px;
    font-weight: 400;
}
.videos h4{
    font-weight: 600;
}
p {
    font-size: 14px;
    font-weight: 400;
}
header{
    display: flex;
    justify-content: center;
}

/*HEADER*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 60px;
    padding: 0px, 24px, 0px, 24px;
}

.header-left img{
    padding-right: 24px;
}

.header-mid{
    display: flex;
    align-items: center;
}

.search{
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
}

.icon-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 40px;
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
}

.icon-search img{
    padding-right: 5px;
}

.header-right img{
    padding-left: 24px;
}